{% extends 'client_page/index.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
<div>
    <a href="{{ path('app_achat') }}" class="btn">Retour</a>
</div>

<form action="/achat/ajout" method="POST" class="form-container">
    <label for="produit">Produit :</label>
    <select id="produit" name="produit" class="form-control">
        <option value="">Choisir produit</option>
        {% for listProd in listProduit %}
            <option value="{{ listProd.id }}">{{ listProd.nom }}</option>
        {% endfor %}
    </select><br>

    <label for="montant">Montant :</label>
    <input type="number" id="montant" name="montant" class="form-control" required><br>

    <label for="fournisseur">Fournisseur :</label>
    <select id="fournisseur" name="fournisseur" class="form-control">
        <option value="">Choisir fournisseur</option>
        {% for listFourniss in listFournisseur %}
            <option value="{{ listFourniss.id }}">{{ listFourniss.nom }}</option>
        {% endfor %}
    </select><br>

    <label for="quantite">Quantité :</label>
    <input type="number" id="quantite" name="quantite" class="form-control"><br>

    <label for="date_achat">Date achat :</label>
    <input type="date" id="date_achat" name="date_achat" class="form-control"><br>

    <label for="time_achat">Heure achat :</label>
    <input type="time" id="time_achat" name="time_achat" class="form-control"><br>

    <button type="submit" class="btn-submit">Envoyer</button>
</form>
{% endblock %}
