{% extends 'base.html.twig' %}


{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>utilisateur</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
 {% if app.session.flashBag.has('success') %}
        <div class="success">
            {{ app.session.flashBag.get('success')[0] }}
        </div>
    {% endif %}

    {% if errors is defined and errors|length > 0 %}
        <div class="error">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


<form method="POST" action="{{ path('ajout_user') }}" >
<a href="{{path('app_login')}}" type="button" class="btn btn-primary">
			Retour
		</a>
    <label for="username">Nom utilisateur</label>
    <input type="text" id="username" name="username" value="{{ username|default('') }}">

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" value="{{ password|default('') }}">

    <label for="roles">Rôle</label>
    <select id="roles" name="roles[]" >
        <option value="ROLE_USER">Utilisateur (ROLE_USER)</option>
        <option value="ROLE_ADMIN">Administrateur (ROLE_ADMIN)</option>
        <option value="ROLE_SUPER_ADMIN">Super Administrateur (ROLE_SUPER_ADMIN)</option>
    </select>

    <button type="submit">Ajouter</button>

</form>

{% endblock %}