{% extends 'base.html.twig' %}

{% block title %}produit
{% endblock %}

{% block body %}
{# {{require}} #}
	<div>
		<a class="btn btn-primary" href="{{path('ajout_produit')}}">Ajout produit</a>
	</div>

	<div>
		{{form_start(form)}}
	
		<div class="form-group">
			{{form_label(form.produit)}}
			{{form_widget(form.produit)}}
			{{form_errors(form.produit)}}
		</div>
	
		{{form_row(form.cherche)}}
		{{form_end(form)}}
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Description</th>
				<th scope="col">Prix Unitaire</th>
				<th scope="col">Fournisseur</th>
				
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for items in listeProduit %}
				<tr>
					<th scope="row">{{items['id']}}</th>
					<td>{{items['nom']}}</td>
					<td>{{items['description']}}</td>
					<td>{{items['prix_unit']}}</td>
					<td>{{items['nomFournisseur']}}</td>
					
					<td>
						<a href="{{path('delete_produit', {id:items['id']})}}" class="btn btn-alert">Supprimer</a>
						<a href="{{path('edit_produit', {id:items['id']})}}" class="btn btn-success">Modifier</a>
					</td>

				</tr>
			{% endfor %}


		</tbody>
	</table>
{% endblock %}
