{% extends 'client_page/index.html.twig' %}

{% block title %}Hello MouvementController!{% endblock %}

{% block body %}

<div>

<div> <a href="{{path('ajout_achat')}}" class="btn"> Retour </a> </div>
<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Type</th>
                <th scope="col">Quantite</th>
                <th scope="col">Date</th>
               
            </tr>
        </thead>
        <tbody>
        {% for list in listeMouvement %}
            <tr>
                <td>{{ list.produit }}</td>
                <td>{{ list.type }}</td>
                <td>{{ list.quantite }}</td>
                <td>{{ list.date|date('Y-m-d') }}</td>
            </tr>
          {% endfor %}  
        </tbody>
    </table>

</div>

</div>
{% endblock %}
