{% extends 'client_page/index.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}
{# {{require}} #}
	<div>
		<a class="btn btn-primary" href="{{path('app_stock')}}">Retour stock</a>
	</div>
<div>
    <a href="{{ path('pdf_stock') }}" class="btn btn-primary" target="_blank">
        Télécharger le PDF
    </a>
</div>
	{# {% dump(listeStock) %} #}
	<table class="table">
		<thead>
			<tr>

				<th scope="col">Produit</th>
				<th scope="col">Quantite</th>
			</tr>
		</thead>
		<tbody>
		
			{% for items in listeStock %}
				<tr>

					<td>{{items["nom"]}}</td>
					<td>{{items["stockDisponible"]}}</td>

					

				</tr>
			{% endfor %}
		</tbody>
	</table>
	

{% endblock %}
