{% extends 'base.html.twig' %}

{% block title %}produit
{% endblock %}

{% block body %}

	<div>
		<a class="btn btn-primary" href="{{path('ajout_commande')}}">Ajout commande</a>
	</div>

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<div>
		<button class="btn btn-success">Cherche</button>
		<input type="text">
	</div>

	<table class="table">
		<thead>
			<tr>

				<th scope="col">Quantité</th>
				<th scope="col">Client</th>
				<th scope="col">Produit</th>

				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for items in commande %}
				<tr>

					<td>{{items.quantiteCommande}}</td>
					<td>{{items.idClient}}</td>
					<td>{{items.Produit.nom}}</td>

					<td>
						<a href="{{path('delete_commande', {id:items.id})}}" class="btn btn-alert">Supprimer</a>
						<a href="{{path('edit_commande', {id:items.id})}}" class="btn btn-success">Modifier</a>
					</td>

				</tr>
			{% endfor %}


		</tbody>
	</table>
{% endblock %}
