{% extends 'client_page/index.html.twig' %}

{% block title %}Ajout client
{% endblock %}

{# {{ component('menu', { activeRoute: app.request.attributes.get('_route') }) }} #}

{% block body %}


	<div class="container mt-5">
		<a href="{{path('ajout_client')}}" type="button" class="btn btn-primary">
			Ajout client
		</a>
	</div>

	<div>
		{{form_start(form)}}

		<div class="form-group">
			{{form_label(form.client)}}
			{{form_widget(form.client)}}
			{{form_errors(form.client)}}
		</div>

		{{form_row(form.cherche)}}
		{{form_end(form)}}
	</div>

	<table class="table">
		<thead>
			<tr>
				
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for items in listeClient %}
				<tr>
				
					<td>{{items.nom}}</td>
					<td>{{items.prenom}}</td>
					<td>{{items.adresse}}</td>
					<td>
						<a href="{{path('delete_client', {id:items.id})}}" class="btn btn-alert">Supprimer</a>
						<a href="{{path('edit_client', {id:items.id})}}" class="btn btn-success">Modifier</a>
					</td>

				</tr>
			{% endfor %}


		</tbody>
	</table>
{% endblock %}
