{% extends 'base.html.twig' %}

{% block title %}Stock
{% endblock %}

{% block body %}

	<div>
		<a class="btn btn-primary" href="{{path('ajout_stock')}}">Ajout stock</a>
	</div>

	<table class="table">
		<thead>
			<tr>
			
				<th scope="col">Quantité</th>
				<th scope="col">Emplacement</th>
				<th scope="col">Produit</th>
				
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for items in listestock %}
				<tr>
				
					<td>{{items.quantiteStock}}</td>
					<td>{{items.emplacement}}</td>
					<td>{{items.produit.nom}}</td>
					
					<td>
						<a href="{{path('delete_produit', {id:items.id})}}" class="btn btn-alert">Supprimer</a>
						<a href="{{path('edit_stock', {id:items.id})}}" class="btn btn-success">Modifier</a>
					</td>

				</tr>
			{% endfor %}


		</tbody>
	</table>
{% endblock %}
